#containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.head-title{
  font-size: 48px;
  font-weight: bold;
  animation: colorChange 9s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  33% {
    color: black;
  }
  66% {
    color: white;
  }
  100% {
    color: red;
  }
}
.findcard {
  background-color: #ff0000e1;   /* green */
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: Helvetica;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}
#logOut{
  position: fixed;
  right: 10px;
  top: 35px;
  background-color: #808080;
  color: white;
  font-size: 18px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#helloDiv {
  position: fixed;
  right: 200px; 
  top: 25px;

}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.foundations .card {
  margin-top: -180px;
}
.free-cells, .foundations {
  display: flex;
  gap: 10px;
}

.tableau {
  display: flex;
  gap: 10px;
}
.selectedCard1 {
  animation: highlight 1s;
}

@keyframes highlight {
  0% {
    outline: 3px solid gold;
    transform: scale(1.05);
  }

  100% {
    outline: 0px solid transparent;
    transform: scale(1);
  }
}
.column {
  width: 130px;
  min-height: 300px;
}

.slot {
  margin-top: 10px;
  width: 130px;
  height: 180px;
  border: 2px dashed #aaa;
  /* position: relative; */
}

.card {
  display: block;
  width: 130px;
  height: 180px;
  margin-top: 0;
  transition: all 1s ease-in-out;
  transform: translateY()
}
.column .card {
  margin-top: -120px;
}
.column .card:first-child {
  margin-top: 0;
}
/* .foundcard {
    animation: highlight 2s;
}

@keyframes highlight {
  0% {
    outline: 3px solid rgb(15, 165, 42);
    transform: scale(1.05);
  }

  100% {
    outline: 1px solid transparent;
    transform: scale(1);
  }
} */

header {
    position: fixed; /* stays at the top */
    top: 0;
    left: 0;
    width: 100%;

    background: white;
    border-bottom: 2px solid black; /* line under header */

          background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQw1vjzfBIiap0bZvxY5Tv4LTXsAq8L7ajIE1ZcPouES-kIe7obwVAddsb8fxWI);
              background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin-top: 100px;
    padding-top: 60px; /* prevents content from hiding behind header */
      background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQw1vjzfBIiap0bZvxY5Tv4LTXsAq8L7ajIE1ZcPouES-kIe7obwVAddsb8fxWI);
  background-size: cover;
  background-position: center;
}
 
#timer {
  background-color: #0f0d0d;
  color: rgb(255, 255, 255);
  width: 49.67px;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

#moves {
  background-color: #0f0d0d;
  color: rgb(255, 255, 255);
  width: 49.67px;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 6px;
}

/* .popup {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.7);

    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.popup-content h1 {
    color: red;
} */