#containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQw1vjzfBIiap0bZvxY5Tv4LTXsAq8L7ajIE1ZcPouES-kIe7obwVAddsb8fxWI);
  background-size: cover;
  background-position: center;
}
.head-title{
  font-size: 48px;
  font-weight: bold;
  animation: colorChange 9s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  33% {
    color: black;
  }
  66% {
    color: white;
  }
  100% {
    color: red;
  }
}
.playbutton {
    background-color: #114b006c;   /* green */
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: Helvetica;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}
.top-row{
  display: flex;
  justify-content: space-between;
}

.free-cells, .foundations {
  display: flex;
  gap: 10px;
}

.tableau {
  display: flex;
  gap: 10px;
}

.column {
  width: 130px;
  min-height: 300px;
}

.slot {
  width: 130px;
  height: 180px;
  border: 2px dashed #aaa;
  /* position: relative; */
}

.card {
  display: block;
  width: 130px;
  height: 180px;
  margin-top: 0;
  transition: all 1s ease-in-out;
}
.column .card {
  margin-top: -160px;
}
.column .card:first-child {
  margin-top: 0;
}